[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SMMA"]
	path = SMMA
	url = https://github.com/cran/SMMA
[submodule "SMME"]
	path = SMME
	url = https://github.com/cran/SMME
